#Background1{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

#github{
    position: fixed;
    height: 5vw;
    margin-left: 0vw;
}

#mute{
    position: fixed;
    height: 5vw;
    margin-top: 42vw;
    margin-left: 92vw;
}

#Board{
    position: fixed;
}

#score{
    position: fixed;
    margin-left: 95vw;
    color: red;
}

#Playtime{
    position: fixed;
    margin-left: 95vw;
    margin-top: 30vw;
    color:purple;

}